<DIV CLASS="maincom">
    <ul class="nav nav-tabs" id="comment_tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="comments-tab" data-toggle="tab" href="#comments" role="tab"
               aria-controls="comments" aria-selected="true">Comments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="new-comment-tab" data-toggle="tab" href="#new-comment" role="tab"
               aria-controls="new-comment" aria-selected="false">New Comment</a>
        </li>
    </ul>
    <div class="tab-content" id="commentTabContent">
        <div class="tab-pane fade show active" id="comments" role="tabpanel" aria-labelledby="comment-tab">
            {% if med.comment_count == 0 %}
                    <DIV CLASS="a-top">
                <div class="entry-content">
                Nothing to see here, be the first to comment
                </div>
                    </DIV>
            {% endif %}
        {% for comment in med.comments %}
        <DIV CLASS="a-top">
            <span class="king-a-item-avatar-meta">
            </span>
            <SPAN CLASS="meta-who">
                <SPAN CLASS="meta-who-data">{% if comment.name.startswith('anon')%}<a href="{{ url_for("user_media",username=comment.name)}}">{{comment.name}}</a>{% else %}{{comment.name}}{% endif %}</SPAN>
            </SPAN>
            <SPAN CLASS="meta-who">
                <SPAN CLASS="meta-who-data">{{ moment(comment.time).fromNow() }}</SPAN>
            </SPAN>
            <div class="king-a-item-content">
                <div class="entry-content">
                {{comment.content}}
                </div>
            </div>
        </DIV>
        {% endfor %}
        </div>
        <div class="tab-pane fade" id="new-comment" role="tabpanel" aria-labelledby="new-comment-tab">
            <div class="king-part-a-form">
                <div class="king-a-form" id="anew">
                    <h2>Your Comment</h2>
                    <form method="post" action="/comment" name="a_form">
                        {{ form.csrf_token }}
                        <input type="hidden" id="media_id" name="media_id" value="{{ med.md5 }}">

                        <table class="king-form-tall-table">
                            <tr>
                                <td class="king-form-tall-data">
                                    <TEXTAREA name="content" id="content" ROWS="5" COLS="40"
                                              CLASS="king-form-tall-text"></TEXTAREA>
                                </td>
                            </tr>
                            <tr>
                                <td class="king-form-tall-label">
                                    Your name to display (optional)
                                </td>
                            </tr>
                            <tr>
                                <td class="king-form-tall-data">
                                    <input name="name" type="text" value="anon" class="king-form-tall-text">
                                </td>
                            </tr>
                            <tr>
                                <td class="king-form-tall-label">
                                    Anti-spam verification:
                                </td>
                            </tr>
                            <tr>
                                <td class="king-form-tall-data">
                                    <div id="qa_captcha_div_1">
                                        {{ form.recaptcha }}
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="king-form-tall-buttons">
                                    <input value="Add Comment" title=""
                                           type="submit" class="king-form-tall-button king-form-tall-button-answer">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div> <!-- END king-a-form -->

            </div>
            <div class="king-part-a-list">
                <div class="king-a-list" id="a_list">

                </div> <!-- END king-a-list -->

            </div>
        </div>
    </div>
</DIV>