{% extends "base.html" %}
{% block title %}Credits Overview{% endblock %}

{% import 'macros/pagination.html' as render_pagination %}
{% set mode = "overview" %}


{% block content %}

<DIV CLASS="leftside">
    <div class="alert alert-danger" role="alert">
        When purchasing we ask for your e-mail address. Make sure you use {{ current_user.email }} otherwise the order can't be processed
    </div>
        <div class="alert alert-primary" role="alert">
We accept every currency supported by coinbase. We will not offer refunds and we do not accept anything else as payment.    </div>
<div class="king-part-q-view">

    <DIV CLASS="king-q-view  hentry question" id="q871">
    Buy more Credits
    </DIV>
</div>


        <section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Basic -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Basic</h5>
            <h6 class="card-price text-center">$1<span class="period">/each</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Get 1.000 Credits</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Download 10 pictures</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Forcefully remove 1 picture</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Downloads</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Realtime access to new images</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Delete unlimited Users*</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>TBD</li>
            </ul>
                <a class="buy-with-crypto"
     href="https://commerce.coinbase.com/checkout/76a6d74a-b09c-4fbe-a4d7-86139e5047f7">
    Buy with Crypto
  </a>
                <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
  </script>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
            <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
            <h6 class="card-price text-center">$5<span class="period">/each</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Get 5.000 Credits</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Download 50 pictures</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Forcefully remove 5 pictures</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Downloads</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Realtime access to new images</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Delete unlimited Users*</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>TBD</li>
            </ul>
                <a class="buy-with-crypto"
     href="https://commerce.coinbase.com/checkout/16ca17b2-59ab-43f5-8cad-b098f0d129b5">
    Buy with Crypto
  </a>
                              <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
  </script>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
                  <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
            <h6 class="card-price text-center">$10<span class="period">/each</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Get 10.000 Credits</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Download 100 pictures</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Forcefully remove 10 pictures</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Downloads</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Realtime access to new images</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Delete unlimited Users*</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>TBD</li>
            </ul>
                <a class="buy-with-crypto"
     href="https://commerce.coinbase.com/checkout/f28d9c7b-4190-41bd-b06f-eee02c7955aa">
    Buy with Crypto
  </a>
                              <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
  </script>
          </div>
        </div>
      </div>

                 <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Advanced</h5>
            <h6 class="card-price text-center">$45<span class="period">/each</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Get 50.000 Credits</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Download 500 pictures</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Forcefully remove 50 pictures</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Forcefully remove 5 complete users *</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Downloads</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Realtime access to new images</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Delete unlimited Users*</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>TBD</li>
            </ul>
                <a class="buy-with-crypto"
     href="https://commerce.coinbase.com/checkout/a75d68b5-49ab-4e88-a62a-f627fa3c6610">
    Buy with Crypto
  </a>
                              <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
  </script>
          </div>
        </div>
      </div>

                 <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Uber</h5>
            <h6 class="card-price text-center">$89<span class="period">/each</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Get 100.000 Credits</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Download 1000 pictures</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Forcefully remove 100 pictures</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Forcefully remove 10 complete users *</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Downloads</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Realtime access to new images</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Delete unlimited Users*</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>TBD</li>
            </ul>
                <a class="buy-with-crypto"
     href="https://commerce.coinbase.com/checkout/efd07464-c7ed-4b4b-bba1-8304d798fabb">
    Buy with Crypto
  </a>
                              <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
  </script>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>



</DIV>

  <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
  </script>
{% endblock %}