{% extends "base.html" %}

{% set title = 'Doxed girls' %}


{% block title %}{{title}}{% endblock %}


{% import 'macros/pagination.html' as render_pagination %}
{% set mode = "overview" %}


{% block content %}
                        <div class="alert alert-info" role="alert">      <strong>NEW!</strong> Get your premium credits now and become a special member of our site. See <a href="{{ url_for('buy_credits')}}">your credits</a> for details.
</div>


<DIV CLASS="leftside">

	        {% if girls['items'] | length == 0 %}
    <div class="alert alert-primary" role="alert">
Nothing found. Please look for something else.
    </div>
    {% endif %}

{% for med in girls['items'] %}
{% include '_girl.html' %}

{% endfor %}



	{{ render_pagination.render_pagination(girls,'get_girls',order_by,username='')}}


    </DIV>

{% endblock %}