{% extends "base.html" %}

{% if username is defined %}
{% set title = 'All images for '+ username %}
{% elif girl is defined %}
{% set title = 'All images for '+ girl.first_name + ' ' + girl.last_name %}

	{% elif order_by == "time" %}
{% set title = 'Latest Images' %}
	{% elif order_by == "views" %}
{% set title = 'Most viewed Images' %}
	{% elif order_by == "votes" %}
{% set title = 'Best voted Images' %}
{% else %}

	{% endif %}

{% block title %}{{title}}{% endblock %}


{% import 'macros/pagination.html' as render_pagination %}
{% import 'macros/search_pagination.html' as render_search_pagination %}

{% set mode = "overview" %}


{% block content %}
                        <div class="alert alert-info" role="alert">      <strong>NEW!</strong> Get your premium credits now and become a special member of our site. See <a href="{{ url_for('buy_credits')}}">your credits</a> for details.
</div>
{% if girl is defined %}
                        <div class="alert alert-info" role="alert">     Displaying all images for {{ girl.first_name }} {{ girl.last_name }}
</div>
{% endif %}
{% if username is defined %}
													<DIV CLASS="solyan">
														<DIV CLASS="kim">
															<SPAN CLASS="meta-who">
																<SPAN CLASS="meta-who-data"><a href="{{ url_for('user_media',username=username) }}">All images by {{ username }}</a></SPAN>
															</SPAN>
														</DIV>
														     {% if not current_user.is_anonymous and current_user.has_roles('admin') %}

    <DIV CLASS="kim">
		<SPAN CLASS="meta-who">
			<SPAN CLASS="meta-who-data"><a href="{{ url_for('remove_media',md5=username)}}">Nuke User</a></SPAN>
		</SPAN>
	</DIV>
{% endif %}
													</DIV>


{% endif %}
<DIV CLASS="leftside">

	        {% if media['items'] | length == 0 %}
    <div class="alert alert-primary" role="alert">
Nothing found. Please look for something else.
    </div>
    {% endif %}

{% for med in media['items'] %}
{% include '_image.html' %}

{% endfor %}


{% if username is defined %}
	{{ render_pagination.render_pagination(media,'user_media',order_by,username=username)}}

	{% elif keyword is defined %}
{{ render_search_pagination.render_pagination(keyword=keyword, next_url=next_url, prev_url=prev_url)}}
{% else %}
	{{ render_pagination.render_pagination(media,'all_media',order_by,username='')}}

	{% endif %}

    </DIV>

{% endblock %}